<?xml version="1.0" ?>
<model>
    <name>small_arm</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Small MyoArm with one joint.</description>
	<changes>Naming conventions.</changes>
</model>
