<?xml version="1.0" ?>
<model>
    <name>PaBiRoboy_demo_simplified</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>It is a model of two legs connected by a hip and muscles.</description>
	<changes>Naming conventions, meshes reduced, plugin added for dancing.</changes>
</model>
