<?xml version="1.0" ?>
<model>
    <name>Roboy_with_camera_simplified</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Standard roboy model with muscles and camera.</description>
    <changes>Naming conventions, meshes reduced, added camera.</changes>
</model>
