<?xml version="1.0" ?>
<model>
    <name>legs_with_upper_body_with_camera_simplified</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>It's an early model of roboy, with missing muscles, for example in the chest. It also has a camera sensor and a plugin.</description>
	<changes>Naming conventions, meshes reduced, added camera sensor to head.</changes>
</model>
