<?xml version="1.0" ?>
<model>
    <name>ViveBaseStation</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>awesome</description>
    <changes>downloaded from thingiverse (https://www.thingiverse.com/thing:2211275)</changes>
</model>
