<?xml version="1.0" ?>
<model>
    <name>myoarm_small</name>
    <version>1.0</version>
    <sdf version="1.5">myoarm_small.sdf</sdf>
    <author>
        <name>Nicolas Berberich</name>
        <email>n.berberich@tum.de</email>
	<name>Benedikt Feldotto</name>
	<email>feldotto@in.tum.de</email>
    </author>
    <description>Model of the small Myorobotics arm consisting of one fixed and one moving link connected by a rotatory joint. Two MyoMuscles control the arm in an antagonistic way, Muscle Viapoints defined in the sdf.</description>
</model>
