<?xml version="1.0" ?>
<model>
    <name>myoarm_small_simplified</name>
    <version>1.0</version>
    <sdf version="1.5">myoarm_small.sdf</sdf>
    <author>
        <name>Nicolas Berberich</name>
        <email>n.berberich@tum.de</email>
    </author>
    <description>Small Myorobotics Arm with one static and one moving link connected by a rotatory joint.</description>
    <changes>Meshes reduced and Muscle Plugin Viapoints defined. Naming conventions.</changes>
</model>
