<?xml version="1.0" ?>
<model>
    <name>legs_with_upper_body</name>
    <version>1.0</version>
    <!-- Replace the line below with "model.sdf" if you want to roll back to original roboy model. -->
    <!-- Fixed version uses same part models but only joints are fixed. Adopted for dynamic balancing. -->
    <!-- Upper body joints' angles are fixed to 0, except for "spine". -->
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
