<?xml version="1.0" ?>
<model>
    <name>makeHuman Avatar</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Benedikt Feldotto</name>
        <email>feldotto@in.tum.de</email>
    </author>
    <description>A humanoid avatar created with www.makehuman.org and a simplified sdf model for physics simulation (including visual and collision meshes).
		The avatar shall be used for robot interaction in a VR environment, giving the test person a virtual body.
		According to www.makehuman.org the generated makeHuman files are subject to AGPL3 license.
    </description>
</model>
