<?xml version="1.0" ?>
<model xmlns="http://schemas.humanbrainproject.eu/SP10/2017/model_config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/model_config ../model_configuration.xsd">
	<name>robot</name>
	<version>1.0</version>
	<thumbnail>thumbnail.png</thumbnail>
	<sdf version="1.5">model.sdf</sdf>
	<author>
		<name></name>
		<email></email>
	</author>
	<description></description>
</model>
